<p *ngIf="!cuccok">Karbantartás alatt...</p>
<table *ngIf="cuccok" (mouseleave)="hoveredId = undefined">
  <tr (mouseover)="hoveredId = undefined">
    <th>ID</th>
    <th>Megnevezés</th>
    <th>Mennyiség</th>
    <th>Rekesz</th>
    <th>Eltéve</th>
  </tr>
  <tr *ngFor="let cucc of cuccok"
  [class.hovered]="cucc.id === hoveredId"
  [class.highlighted]="cucc.id === highlightedId"
  (click)="onSelect(cucc)"
  (mouseover)="hoveredId = cucc.id">
    <td title="{{cucc.id}}">{{cucc.id | slice:0:6}}</td>
    <td>{{cucc.megnevezes}}</td>
    <td>{{cucc.mennyiseg}}</td>
    <td>{{cucc.rekesz}}</td>
    <td>{{cucc.elteve}}</td>
  </tr>
</table>
<div>
  <a routerLink="/cucc/uj">
    <button>Új</button>
  </a>
</div>
