  <form *ngIf="cucc" (ngSubmit)="onSave()" #cuccForm="ngForm"
  class="cucc-form">
    <mat-form-field *ngIf="cucc.id" class="cucc-full-width">
      <input matInput placeholder="ID" [(ngModel)]="cucc.id" disabled
      name="id" />
    </mat-form-field>
    <mat-form-field class="cucc-full-width">
      <input matInput placeholder="Megnevezés" [(ngModel)]="cucc.megnevezes"
      name="megnevezes" required />
    </mat-form-field>
    <mat-form-field class="cucc-full-width">
      <input matInput placeholder="Mennyiség" [(ngModel)]="cucc.mennyiseg"
      type="number" name="mennyiseg" required />
    </mat-form-field>
    <mat-form-field class="cucc-full-width">
      <input matInput placeholder="Rekesz" [(ngModel)]="cucc.rekesz"
      name="rekesz" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Eltéve"
      [(ngModel)]="_elteve" name="elteve" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-button type="button" (click)="onReturn()">Vissza</button>
      <button *ngIf="cucc.id" mat-button type="button" (click)="onDelete()">
        Töröl</button>
      <button mat-button type="submit" [disabled]="!cuccForm.form.valid">Ment</button>
    </div>
  </form>
